<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="backpack">
            <h2><span jhiTranslate="firstJhippsterApp.backpack.detail.title">Backpack</span> {{ backpack.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="firstJhippsterApp.backpack.mark">Mark</span></dt>
                <dd>
                    <span>{{ backpack.mark }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/backpack', backpack.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
