<div>
    <h2 id="page-heading">
        <span jhiTranslate="firstJhippsterApp.student.home.title">Students</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student" [routerLink]="['/student/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="firstJhippsterApp.student.home.createLabel">
            Create a new Student
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="students?.length === 0">
        <span jhiTranslate="firstJhippsterApp.student.home.notFound">No students found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="students?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="firstJhippsterApp.student.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="firstJhippsterApp.student.surname">Surname</span></th>
                    <th scope="col" ><span jhiTranslate="firstJhippsterApp.student.backpack">Backpack</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students ;trackBy: trackId">
                    <td><a [routerLink]="['/student', student.id, 'view']">{{ student.id }}</a></td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.surname }}</td>
                    <td>
                        <div *ngIf="student.backpack">
                            <a [routerLink]="['/backpack', student.backpack?.id, 'view']" >{{ student.backpack?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/student', student.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/student', student.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(student)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
